[submodule "Firmware"]
	path = Firmware
	url = https://github.com/PX4/Firmware.git
[submodule "rotors_simulator"]
	path = rotors_simulator
	url = https://github.com/PX4/euroc_simulator.git
[submodule "mav_comm"]
	path = mav_comm
	url = https://github.com/PX4/mav_comm.git
[submodule "glog_catkin"]
	path = glog_catkin
	url = https://github.com/ethz-asl/glog_catkin.git
[submodule "catkin_simple"]
	path = catkin_simple
	url = https://github.com/catkin/catkin_simple.git
